.focim{
	color: black;
	text-align: center;
	font-size: 30px;
	width: 30%;
	background-color:#fa6262 ;
}

.flex-container {
  display: flex;
    flex-wrap: wrap;
}



@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

}
.nav{
	background-color: #fa6262;
}

#navlogolink{
	width: 50px;
	height: 50px;
	padding: 32px;
}

#navlogolink > img{
	width: 50px;
	height: 50px;
}

nav > a {
	background-color: #f1f1f1;
  margin: 10px;
  padding: 40px;
  font-size: 30px;
  text-decoration: none;
}

nav > a:link, nav > a:visited, nav > a:active {
 	background-color: black;
  color: white;
}

 nav > a:hover {
 	background-color: white;
  color: black;
 }


.index_logo{
	text-align: center;
	width: 200px;
	margin: 20px;
}

.align_flexbox_center {
 justify-content: center;
  align-items: center;

}

.bemutatkozas_szoveg {
	background-color: #fa6262;
	max-width: 40%;
	padding: 30px;
	font-size: 25px;
}

.index_container {
	 justify-content: center;
  align-items: center;
}

.index_div{
	
	justify-content: center;
	align-items: center;
}

.index_div > .index_logo {
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;

}

.center_text {
	text-align: center;
}

body {
	
	margin: 0;
	background-color: #ff7f7f;

}

.images {
	max-width: 400px;
	padding: 10px;
}

#profilkep{
	max-width: 400px;
	padding: 40px;
}

.nav{
	justify-content: center;
	align-items: center;
}

.munkaim_flex_box > img {
	max-width: 300px;
	padding: 20px;
}

.title{
	font-size: 35px;
}

.tervezes_body{
	padding: 20px;
	font-size: 20px;
}
